// bower:scss
// endbower

$twitter-blue: #55ACEE;
$white: #FFF;

* {
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
  margin: 0;
  padding: 0;
}
a, a:hover, a:visited {
	color: $twitter-blue;
	text-decoration: none;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.content {
	padding: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.footer {
	bottom: 20px;
	position: absolute;
	width: 100%;
}
.homepage {
	background-color: $twitter-blue;
	color: $white;

	a, a:hover, a:visited {
		color: $white;
		text-decoration: none;
	}

	.header {
		position: absolute;
		right: 20px;
		text-align: right;
		top: 20px;
		width: 100%;
	}

	.timeline {
		text-align: center;
	}
}
.tweet-section {
	.footer {
		left: 20px;
	}
}
